*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
    text-decoration: none;
    list-style: none;
}

.container{
    background-image: linear-gradient(rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.63)), url('../img/tarik-haiga-BxELNNMN88Y-unsplash.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background: violet; */
    padding: 20px 0;
}

.logo a{
    color: white;
    /* border: 1px solid; */
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 30px;
}

.logo a:hover{
    background: rgba(197, 197, 197, 0.39);
    color: white;
}

.container2{
    margin: 0 auto;
    /* border: 1px solid greenyellow; */
    padding: 10px;
    width: 1050px;
    position: relative;
    top: 80px;
}

.headtext{
    text-transform: uppercase;
    color: rgb(240, 240, 240);
    /* border: 1px solid red; */
    padding: 5px;
}

.headtext a{
    font-size: 12px;
    background: rgb(255, 1, 1);
    padding: 3px;
    border-radius: 2px;
    color: white;
    font-weight: 500;
    width: auto;
}

.email{
    margin-top: 20px;
    color: rgb(194, 194, 194);
    /* border: 1px solid red; */
    padding: 5px;

}

.email legend{
    font-weight: 700;
}

.email input{
    height: 30px;
    width: 350px;
    border-radius: 4px;
    border: none;
    padding: 10px;
} 

input:focus{
    outline: none;
}

.email button{
    height: 30px;
    color: white;
    text-align: center;
    border-radius: 3px;
    background: rgb(4, 163, 4);
    border: none;
    padding: 3px 10px;
    margin: 10px 0;
    cursor: pointer;
}

.email button:hover{
 background: rgb(1, 133, 1);
 transition: 0.5s;
}

.box{
    /* border: 1px solid yellow; */
    /* padding: 10px; */
    width: 250px;
    padding: 5px;
    object-fit: cover;
}

.box h4{
    color: white;
    text-transform: uppercase
    ;
}

.box p{
    color: rgb(172, 172, 172);
    font-size: 13px;
}

.services{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
    /* border: 1px solid red; */
    margin-top: 50px;
    padding: 5px;
}